In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl

In [2]:
#글씨설정
plt.rc("font",family="Malgun Gothic")
sns.set(font="Margun Gothic",rc={"axes.unicode_minus":False},style='darkgrid')
mpl.rc('font',family='Malgun Gothic')
plt.rcParams['axes.unicode_minus']=False

#맷플롯립 한글 설정
font_path = r'C:\Users\dudtj\OneDrive\Desktop\python\NanumFontSetup_TTF_ALL'
fontprop = fm.FontProperties(fname=font_path, size=18)

In [12]:

#matplotlib 패키지 한글 깨짐 처리 시작
import platform
if platform.system() == 'Windows': #윈도우
        plt.rc('font', family='Malgun Gothic') 
plt.rcParams['axes.unicode_minus'] = False #한글 폰트 사용시 마이너스 폰트 깨짐 해결
#matplotlib 패키지 한글 깨짐 처리 끝

In [30]:
cus_info = pd.read_csv(r'C:\Users\dudtj\OneDrive\Desktop\python\NH투자증권\open\cus_info.csv')
cus_info_df=pd.DataFrame(cus_info)
cus_info_df.head(5)

,act_id,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,mrz_pdt_tp_sgm_cd,lsg_sgm_cd,tco_cus_grd_cd,tot_ivs_te_sgm_cd,mrz_btp_dit_cd
0,64aae8dd71e5c0761000db9f9a6779e504e7a4aa9dc097...,1,4,99,1,2,3,3,6,16
1,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,1,6,4,4,2,5,2,6,1
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,2,7,4,3,2,5,5,6,9
3,6d497facfa1ea5901b827335553331f8555fec02a8184f...,2,6,4,4,8,5,3,6,16
4,b727c78d2cfc246c97b677f29a034399a0c7e7873fff44...,1,5,2,2,2,5,5,5,16

In [31]:
#성별 열 바꾸기.
cus_info_df.loc[cus_info_df.sex_dit_cd==1,'sex_dit_cd']='남자'
cus_info_df.loc[cus_info_df.sex_dit_cd==2,'sex_dit_cd']='여자'

#연령 열 바꾸기
cus_info_df.loc[cus_info_df.cus_age_stn_cd==1,'cus_age_stn_cd']='20세-25세미만'
cus_info_df.loc[cus_info_df.cus_age_stn_cd==2,'cus_age_stn_cd']='25세-30세미만'
cus_info_df.loc[cus_info_df.cus_age_stn_cd==3,'cus_age_stn_cd']='30세-35세미만'
cus_info_df.loc[cus_info_df.cus_age_stn_cd==4,'cus_age_stn_cd']='35세-40세미만'
cus_info_df.loc[cus_info_df.cus_age_stn_cd==5,'cus_age_stn_cd']='40세-45세미만'
cus_info_df.loc[cus_info_df.cus_age_stn_cd==6,'cus_age_stn_cd']='45세-50세미만'
cus_info_df.loc[cus_info_df.cus_age_stn_cd==7,'cus_age_stn_cd']='50세-55세미만'
cus_info_df.loc[cus_info_df.cus_age_stn_cd==8,'cus_age_stn_cd']='55세-60세미만'
cus_info_df.loc[cus_info_df.cus_age_stn_cd==9,'cus_age_stn_cd']='60세-25세미만'

#투자성형
cus_info_df.loc[cus_info_df.ivs_icn_cd==1,'ivs_icn_cd']='안정형'
cus_info_df.loc[cus_info_df.ivs_icn_cd==2,'ivs_icn_cd']='안정추구형'
cus_info_df.loc[cus_info_df.ivs_icn_cd==3,'ivs_icn_cd']='위험중립형'
cus_info_df.loc[cus_info_df.ivs_icn_cd==4,'ivs_icn_cd']='적극투자형'
cus_info_df.loc[cus_info_df.ivs_icn_cd==5,'ivs_icn_cd']='공격투자형'
cus_info_df.loc[cus_info_df.ivs_icn_cd==9,'ivs_icn_cd']='전문투자가형'
cus_info_df.loc[cus_info_df.ivs_icn_cd==0,'ivs_icn_cd']='정보제공미동의'
cus_info_df.loc[cus_info_df.ivs_icn_cd==99,'ivs_icn_cd']='미정의'

#고객자산구간
cus_info_df.loc[cus_info_df.cus_aet_stn_cd==1,'cus_aet_stn_cd']='0원이상-1천만원미만'
cus_info_df.loc[cus_info_df.cus_aet_stn_cd==2,'cus_aet_stn_cd']='1천만원이상-3천만원미만'
cus_info_df.loc[cus_info_df.cus_aet_stn_cd==3,'cus_aet_stn_cd']='3천만원이상-5천만원미만'
cus_info_df.loc[cus_info_df.cus_aet_stn_cd==4,'cus_aet_stn_cd']='5천만원이상-1억원미만'
cus_info_df.loc[cus_info_df.cus_aet_stn_cd==5,'cus_aet_stn_cd']='1억원이상-3억원미만'
cus_info_df.loc[cus_info_df.cus_aet_stn_cd==6,'cus_aet_stn_cd']='3억원이상'

#주거래상품군
cus_info_df.loc[cus_info_df.mrz_pdt_tp_sgm_cd==1,'mrz_pdt_tp_sgm_cd']='only CMA'
cus_info_df.loc[cus_info_df.mrz_pdt_tp_sgm_cd==2,'mrz_pdt_tp_sgm_cd']='국내주식'
cus_info_df.loc[cus_info_df.mrz_pdt_tp_sgm_cd==3,'mrz_pdt_tp_sgm_cd']='해외주식'
cus_info_df.loc[cus_info_df.mrz_pdt_tp_sgm_cd==4,'mrz_pdt_tp_sgm_cd']='선물옵션'
cus_info_df.loc[cus_info_df.mrz_pdt_tp_sgm_cd==5,'mrz_pdt_tp_sgm_cd']='금속'
cus_info_df.loc[cus_info_df.mrz_pdt_tp_sgm_cd==6,'mrz_pdt_tp_sgm_cd']='국내채권'
cus_info_df.loc[cus_info_df.mrz_pdt_tp_sgm_cd==7,'mrz_pdt_tp_sgm_cd']='해외채권'
cus_info_df.loc[cus_info_df.mrz_pdt_tp_sgm_cd==8,'mrz_pdt_tp_sgm_cd']='펀드'
cus_info_df.loc[cus_info_df.mrz_pdt_tp_sgm_cd==9,'mrz_pdt_tp_sgm_cd']='ELS/DLS'
cus_info_df.loc[cus_info_df.mrz_pdt_tp_sgm_cd==10,'mrz_pdt_tp_sgm_cd']='신탁_퇴직연금'
cus_info_df.loc[cus_info_df.mrz_pdt_tp_sgm_cd==11,'mrz_pdt_tp_sgm_cd']='RP'
cus_info_df.loc[cus_info_df.mrz_pdt_tp_sgm_cd==12,'mrz_pdt_tp_sgm_cd']='발행어음'
cus_info_df.loc[cus_info_df.mrz_pdt_tp_sgm_cd==14,'mrz_pdt_tp_sgm_cd']='WRAP'
cus_info_df.loc[cus_info_df.mrz_pdt_tp_sgm_cd==15,'mrz_pdt_tp_sgm_cd']='신용대출'
cus_info_df.loc[cus_info_df.mrz_pdt_tp_sgm_cd==99,'mrz_pdt_tp_sgm_cd']='미정의'

#LIFESTAGE
cus_info_df.loc[cus_info_df.lsg_sgm_cd==2,'lsg_sgm_cd']='사회초년생(20-29)'
cus_info_df.loc[cus_info_df.lsg_sgm_cd==3,'lsg_sgm_cd']='가족형성기_남자(30-39&남자)'
cus_info_df.loc[cus_info_df.lsg_sgm_cd==4,'lsg_sgm_cd']='가족형성기_여자(30-39&여자)'
cus_info_df.loc[cus_info_df.lsg_sgm_cd==5,'lsg_sgm_cd']='가족성숙기_직장인(40-59&직장인&남자)'
cus_info_df.loc[cus_info_df.lsg_sgm_cd==6,'lsg_sgm_cd']='가족성숙기_주부(40-59&주부&여자)'
cus_info_df.loc[cus_info_df.lsg_sgm_cd==7,'lsg_sgm_cd']='가족성숙기_남자(40-59&기타&남자)'
cus_info_df.loc[cus_info_df.lsg_sgm_cd==8,'lsg_sgm_cd']='가족성숙기_여자(40-59&기타&여자)'
cus_info_df.loc[cus_info_df.lsg_sgm_cd==9,'lsg_sgm_cd']='은퇴기(60-69)'

cus_info_df.loc[cus_info_df.tco_cus_grd_cd==1,'tco_cus_grd_cd']='1탑클래스'
cus_info_df.loc[cus_info_df.tco_cus_grd_cd==2,'tco_cus_grd_cd']='2골드'
cus_info_df.loc[cus_info_df.tco_cus_grd_cd==3,'tco_cus_grd_cd']='3로얄'
cus_info_df.loc[cus_info_df.tco_cus_grd_cd==4,'tco_cus_grd_cd']='4그린'
cus_info_df.loc[cus_info_df.tco_cus_grd_cd==5,'tco_cus_grd_cd']='5블루'
cus_info_df.loc[cus_info_df.tco_cus_grd_cd==9,'tco_cus_grd_cd']='등급 미정의'
cus_info_df.loc[cus_info_df.tco_cus_grd_cd==99,'tco_cus_grd_cd']='미정의'

cus_info_df.loc[cus_info_df.tot_ivs_te_sgm_cd==1,'tot_ivs_te_sgm_cd']='6개월 미만'
cus_info_df.loc[cus_info_df.tot_ivs_te_sgm_cd==2,'tot_ivs_te_sgm_cd']='6개월-1년'
cus_info_df.loc[cus_info_df.tot_ivs_te_sgm_cd==3,'tot_ivs_te_sgm_cd']='1-3년'
cus_info_df.loc[cus_info_df.tot_ivs_te_sgm_cd==4,'tot_ivs_te_sgm_cd']='3-5년'
cus_info_df.loc[cus_info_df.tot_ivs_te_sgm_cd==5,'tot_ivs_te_sgm_cd']='5-10년'
cus_info_df.loc[cus_info_df.tot_ivs_te_sgm_cd==6,'tot_ivs_te_sgm_cd']='10년 이상'

cus_info_df.loc[cus_info_df.mrz_btp_dit_cd==1,'mrz_btp_dit_cd']='건설업'
cus_info_df.loc[cus_info_df.mrz_btp_dit_cd==2,'mrz_btp_dit_cd']='금융업'
cus_info_df.loc[cus_info_df.mrz_btp_dit_cd==3,'mrz_btp_dit_cd']='기계'
cus_info_df.loc[cus_info_df.mrz_btp_dit_cd==4,'mrz_btp_dit_cd']='방송/통신'
cus_info_df.loc[cus_info_df.mrz_btp_dit_cd==5,'mrz_btp_dit_cd']='서비스/오락/문화'
cus_info_df.loc[cus_info_df.mrz_btp_dit_cd==6,'mrz_btp_dit_cd']='운송/운수'
cus_info_df.loc[cus_info_df.mrz_btp_dit_cd==7,'mrz_btp_dit_cd']='유통'
cus_info_df.loc[cus_info_df.mrz_btp_dit_cd==8,'mrz_btp_dit_cd']='의료/의약'
cus_info_df.loc[cus_info_df.mrz_btp_dit_cd==9,'mrz_btp_dit_cd']='전기/전자'
cus_info_df.loc[cus_info_df.mrz_btp_dit_cd==10,'mrz_btp_dit_cd']='제조'
cus_info_df.loc[cus_info_df.mrz_btp_dit_cd==11,'mrz_btp_dit_cd']='철강'
cus_info_df.loc[cus_info_df.mrz_btp_dit_cd==12,'mrz_btp_dit_cd']='화학'
cus_info_df.loc[cus_info_df.mrz_btp_dit_cd==13,'mrz_btp_dit_cd']='IT'
cus_info_df.loc[cus_info_df.mrz_btp_dit_cd==14,'mrz_btp_dit_cd']='기타'
cus_info_df.loc[cus_info_df.mrz_btp_dit_cd==15,'mrz_btp_dit_cd']='혼합'
cus_info_df.loc[cus_info_df.mrz_btp_dit_cd==16,'mrz_btp_dit_cd']='비매매'

In [32]:
cus_info_df

,act_id,sex_dit_cd,cus_age_stn_cd,ivs_icn_cd,cus_aet_stn_cd,mrz_pdt_tp_sgm_cd,lsg_sgm_cd,tco_cus_grd_cd,tot_ivs_te_sgm_cd,mrz_btp_dit_cd
0,64aae8dd71e5c0761000db9f9a6779e504e7a4aa9dc097...,남자,35세-40세미만,미정의,0원이상-1천만원미만,국내주식,가족형성기_남자(30-39&남자),3로얄,10년 이상,비매매
1,5f7c3a8f37d9c268d06130ff0be5d32a1b9ef68c13049f...,남자,45세-50세미만,적극투자형,5천만원이상-1억원미만,국내주식,가족성숙기_직장인(40-59&직장인&남자),2골드,10년 이상,건설업
2,1119c23c3a504ca7b75060277410c0f6fb9018ec7638c2...,여자,50세-55세미만,적극투자형,3천만원이상-5천만원미만,국내주식,가족성숙기_직장인(40-59&직장인&남자),5블루,10년 이상,전기/전자
3,6d497facfa1ea5901b827335553331f8555fec02a8184f...,여자,45세-50세미만,적극투자형,5천만원이상-1억원미만,펀드,가족성숙기_직장인(40-59&직장인&남자),3로얄,10년 이상,비매매
4,b727c78d2cfc246c97b677f29a034399a0c7e7873fff44...,남자,40세-45세미만,안정추구형,1천만원이상-3천만원미만,국내주식,가족성숙기_직장인(40-59&직장인&남자),5블루,5-10년,비매매
...,...,...,...,...,...,...,...,...,...,...
9995,2fdd734bf8fc04c0d484ddc1d021622a1cdc802705702e...,남자,60세-25세미만,적극투자형,1천만원이상-3천만원미만,국내주식,은퇴기(60-69),5블루,6개월-1년,비매매
9996,720aa28d24bfa8fbeddf4fe625cb53af0a6f7ff2d526de...,여자,25세-30세미만,위험중립형,0원이상-1천만원미만,국내주식,사회초년생(20-29),등급 미정의,6개월 미만,비매매
9997,7702030b3b0760e6b37c8a3e8ed58611b1b85913526ad1...,여자,50세-55세미만,적극투자형,1천만원이상-3천만원미만,국내주식,가족성숙기_직장인(40-59&직장인&남자),5블루,6개월-1년,비매매
9998,4006ddaa5673365096b9dd5965e20db866f6523c162f79...,남자,40세-45세미만,미정의,1억원이상-3억원미만,국내주식,가족성숙기_직장인(40-59&직장인&남자),3로얄,6개월-1년,서비스/오락/문화
9999,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,남자,45세-50세미만,정보제공미동의,1억원이상-3억원미만,국내주식,가족성숙기_직장인(40-59&직장인&남자),3로얄,5-10년,금융업

In [6]:
cus_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   act_id             10000 non-null  object
 1   sex_dit_cd         10000 non-null  int64
 2   cus_age_stn_cd     10000 non-null  int64
 3   ivs_icn_cd         10000 non-null  int64
 4   cus_aet_stn_cd     10000 non-null  int64
 5   mrz_pdt_tp_sgm_cd  10000 non-null  int64
 6   lsg_sgm_cd         10000 non-null  int64
 7   tco_cus_grd_cd     10000 non-null  int64
 8   tot_ivs_te_sgm_cd  10000 non-null  int64
 9   mrz_btp_dit_cd     10000 non-null  int64
dtypes: int64(9), object(1)
memory usage: 781.4+ KB

In [37]:
stk_hld_train=pd.read_csv(r'C:\Users\dudtj\OneDrive\Desktop\python\NH투자증권\open\stk_hld_train.csv')

In [38]:
iem_info_=pd.read_csv(r'C:\Users\dudtj\OneDrive\Desktop\python\NH투자증권\open\iem_info_20210902.csv')

In [9]:
iem_info_

,iem_cd,iem_krl_nm,btp_cfc_cd,mkt_pr_tal_scl_tp_cd,stk_dit_cd
0,A000020,동화약품,8,2,99
1,A000080,하이트진로,14,2,1
2,A000180,성창기업지주,5,3,99
3,A000227,유유제약2우B,8,99,99
4,A000325,노루홀딩스우,2,99,99
...,...,...,...,...,...
3074,A383310,에코프로에이치엔,14,99,99
3075,A385520,KODEX K-미래차액티브,14,99,99
3076,A388280,KBSTAR Fn컨택트대표,14,99,99
3077,A388420,KBSTAR 비메모리반도체액티브,14,99,99
3078,A394350,KOSEF 릭소글로벌퓨처모빌리티MSCI,14,99,99

In [10]:
stk_hld_train

,act_id,iem_cd,byn_dt,hold_d
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A006360,20180726,11
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A005930,20180131,80
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A005070,20180517,5
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A003520,20201112,22
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A002310,20180905,324
...,...,...,...,...
681467,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A260660,20180831,1
681468,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A271980,20201027,1
681469,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A289080,20181121,1
681470,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A307930,20200214,1
681471,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A308100,20200116,1

In [36]:
stk_hld_train=pd.merge(stk_hld_train,iem_info_)
stk_hld_train=stk_hld_train.sort_values(by='act_id',ascending=False)
stk_hld_train.head(5)

,act_id,iem_cd,byn_dt,hold_d,iem_krl_nm,btp_cfc_cd,mkt_pr_tal_scl_tp_cd,stk_dit_cd
59131,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A096530,20200915,2,씨젠,10,1,2
185136,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A096630,20201013,2,에스코넥,13,3,99
139300,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A051910,20200911,4,LG화학,12,1,1
17640,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A000660,20200821,4,SK하이닉스,9,1,1
337944,fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6...,A204320,20201204,13,만도,6,1,1